
*{margin: 0;
padding: 0;    
}

body {font-family: Arial, Helvetica, sans-serif;}
header {
  background-color: rgb(235, 8, 8);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
nav {
  overflow: hidden;
  padding-top: 10px;
  background: rgb(172, 0, 0);
  text-align: center;
}
.topico{
    color: #f1f1f1;
    text-decoration: none;
    margin: 15px;
}
.topico:hover{
    background-color: rgba(240, 135, 135, 0.774);
    
}
#am1{
    width: 100%;
}

/* Style the footer */
footer {
  background-color: rgb(172, 0, 0);
  text-align: center;
  color: white;
}


